{% extends "layout/base.html" %} {% block contents %}
<div class="section no-pad-bot" id="index-banner">
  <div>
    <div style="margin-left: 30px;" style="text-align:center;">
      <h5>Data Keluarga</h5>
    </div>
    <div class="row">
      <table id="tblDataKeluarga" style="font-size: 10px;">
        <thead>
          <tr>
            <th>#</th>
            <th>(1) Nama</th>
            <th>(2) Alamat</th>
            <th>(3) Pekerjaan</th>
            <th>(4) Penghasilan</th>
            <th>(5) Pendidikan</th>
            <th>(6) Luas Bangunan</th>
            <th>(7) Luas Lantai</th>
            <th>(8) Jenis Lantai</th>
            <th>(9) Jenis Dinding</th>
            <th>(10) Jenis Atap </th>
            <th>(11) Jumlah Kamar</th>
            <th>(12) Sumber Air Minum</th>
            <th>(13) Cara Memperoleh Air Minum</th>
            <th>(14) Sumber Penerangan</th>
            <th>(15) Sumber Energi Memasak</th>
            <th>(16) Status Sanitasi</th>
            <th>(17) Tempat pembuangan tinja</th>
            <th>(18) Status</th>
          </tr>
        </thead>
        <tbody>
        {% for kel in dKeluarga %}
            <tr>
                <td>{{ kel.ord }}</td>
                <td>{{ kel.nama }}</td>
                <td>{{ kel.alamat }}</td>
                <td>{{ kel.pekerjaan }}</td>
                <td>{{ kel.penghasilan }}</td>
                <td>{{ kel.pendidikan }}</td>
                <td>{{ kel.luas_bangunan }}</td>
                <td>{{ kel.luas_lantai }}</td>
                <td>{{ kel.jenis_lantai }}</td>
                <td>{{ kel.jenis_dinding }}</td>
                <td>{{ kel.jenis_atap }}</td>
                <td>{{ kel.jumlah_kamar }}</td>
                <td>{{ kel.sumber_air_minum }}</td>
                <td>{{ kel.peroleh_air_minum }}</td>
                <td>{{ kel.sumber_penerangan }}</td>
                <td>{{ kel.sumber_memasak }}</td>
                <td>{{ kel.status_sanitasi }}</td>
                <td>{{ kel.pembuangan_tinja }}</td>
                <td>{{ kel.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="text-align: center;margin-top:50px;">
        <h4>Tabel normalisasi data</h4>
        <img src="{{ url_for('static', filename='normalisasi_table.png') }}">
        <br/>
        <br/>
        <a href="javascript:void(0)" id="btnNormalisasi" onclick="prosesNormalisasi()" id="download-button" class="btn-large waves-effect waves-light orange">Mulai Normalisasi Data</a>
        <div style="display: none;" id="divLoading">
            <img src="{{ url_for('static', filename='loading.svg') }}"><br/>
            <span id="txtStatus" style="font-weight: bold;">Memulai proses normalisasi ...</span>
        </div>
    </div>
  </div>
</div>
<script>

    var statusTraining = 0;

  $("#tblDataKeluarga").dataTable();

  function prosesNormalisasi()
  {
    $("#btnNormalisasi").hide();
    $("#divLoading").show();

    setInterval(function(){
        if(statusTraining === 15){
            pesanUmumApp('success', 'Sukses', 'Proses normalisasi data selesai ... (file normalisasi.json), Akan masuk ke halaman data normalisasi dalam 5 detik ..');
            $("#divLoading").hide();
            setTimeout(function(){
                window.location.assign('http://127.0.0.1:5000/normalisasi-data');
            }, 5000);
            
        }else if(statusTraining === 3){
            document.querySelector("#txtStatus").innerHTML = "<pre>Membaca file data training (excel) ...</pre>";
        }else if(statusTraining === 5){
            document.querySelector("#txtStatus").innerHTML = "<pre>Ekstraksi data ...</pre>";
        }else if(statusTraining === 6){
            document.querySelector("#txtStatus").innerHTML = "<pre>Konversi data (<i>x-min</i> / <i>max - min</i>) ...</pre>";
        }else if(statusTraining === 9){
            document.querySelector("#txtStatus").innerHTML = "<pre>Finalisasi normalisasi ...</pre>";
        }else if(statusTraining === 10){

        }
        statusTraining++;
    }, 2000);

  }

  function pesanUmumApp(icon, title, text)
        {
        Swal.fire({
            icon : icon,
            title : title,
            text : text
        });
        }


</script>

{% endblock contents %}
