{% extends "layout/base.html" %}

{% block contents %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div style="text-align: center;">
        <img src="https://s3.jagoanstorage.com/aditia-storage/asset/ilustrasi/CREATIVE_TEAM.png" alt="" width="530">
      </div>
      
      <h1 class="header center orange-text">Aplikasi Klasifikasi Rumah Layak Huni</h1>
      <div class="row center">
        <h5 class="header col s12 light">Menggunakan metode SVM (Support Vector Machine)</h5>
      </div>
      <div class="row center">
        <a href="{{ BASE_URL }}data-keluarga" id="download-button" class="btn-large waves-effect waves-light orange">Mulai klasifikasi</a>
      </div>
      <br><br>

    </div>
  </div>
    <div class="container">

    </div>
{% endblock contents %}